*{
    margin: 0;
    /*relleno*/
    padding: 0;
    
    box-sizing: border-box;
    }
    .container{
        /* Ancho */
        width: 100%;
        max-width: 1200px;
        margin: auto;
        /* Color de fondo */
        background-color: rgb(248, 39, 39);
    }
    
    .row{
        
        display: flex;
        flex-flow: row nowrap;
    }
    
    /* HEADER */
    img{
        width: 350px;
        height: 150px;
        position:relative;
        right: 800px;
        left: 500px;
        top: 15px;
        display: block;
        
    }
       
    #menu-principal{
        /* Ancho */
        width: 100%;
        /* Alto temporal */
        height: 30px;
        /* Color de fondo */
        background-color: rgb(255, 255, 255);
        /* cambio el posicionamiento */
        position: absolute;
        left: 0;
        top:50%;
        transform: translateY(300%);
    }
    
    #imagen-principal{
        /*Ancho*/
        width: 100%;
        /*Alto*/
        height: 100vh;
        /*Color de fondo*/
        background-color: rgb(248, 39, 39);
        
    }
    
    #section-clases{
        margin:100px 0;
        text-align: center;
    }
    .clase-index{
        /* ancho */
        width: 25%;
        padding: 10px;
        text-align: left;
    }
    
    .clase-index > figure{
       /* color de fondo */
       background-color: rgb(255, 255, 255);
       /* ancho */
       width: 100%;
       /* alto */
       height: 160px;
       /* máscara */
       overflow: hidden;
       margin: 0 0 10px 0;
    }
    #formulario-index{
        /* ancho */
        width: 100%;
        margin: 100px 0;
        padding: 50px 0;
        background-color: rgb(248, 39, 39);
        text-align: center;
    }
    #inscripcion{
        width: 100%;
        /* ancho */
        max-width: 350px;
        margin: 50px auto;
    }
    #inscripcion > div > label{
        color: rgb(255, 255, 255);
        display: block;
        text-align: left;
    }
    #label-datos{
        display: inline !important;
    }
    .field{
        /* ancho */
        width: 100%;
        margin: 5px 0 10px 0;
        /* alto */
        height: 28px;
        background: none;
        border: 1px solid white;
    }
    .boton{
        display: inline-block;
        margin: 10px 0 10px 0;
        padding: 6px 15px;
        cursor: pointer;
    }
    .boton:hover{
        background-color: rgb(255, 255, 255); }