@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

#apiButton {
  margin: 0 50%;
  width: 150px;
  padding: 10px;
}




#users {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.btn {
    background-color: rgba(4, 133, 127, 0.658);
    color: #fff;
    position: relative;
    margin: 0 50%;
    width: 150px;
    padding: 10px;
    left: -78px;
    transition: all;
}
.btn:hover{
  transition: all;
  box-shadow: rgba(173, 73, 73, 0.25) 0px 54px 55px, rgba(236, 38, 38, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: .4s;
}
.user-header {
  background-color: rgba(24, 255, 236, 0.37);
  border-radius: 10px;
}

.user-header img {
  display: block;
  border-radius: 50%;
  width: 75px;
  object-fit: scale-down;
  margin: 5px auto;
}

.user-body {
  display: flex;
  flex-direction: column;
}

.user-body p,
h3 {
  margin: 5px;
  word-wrap: break-word;
}

#contenedor {
  border: 1px solid rgba(0, 0, 0, 0.534);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: calc(calc(100% / 3) - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,243,0.9139005944174545) 50%, rgba(69,107,252,1) 100%);

}

header{
  width: 100%;
  min-height: 20vh;
  margin-top: -4%;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,243,0.9139005944174545) 50%, rgba(69,107,252,1) 100%);
  border-bottom: 1px solid rgb(2, 2, 2);
}
header h1{
  padding: 60px 0;
  text-align: center;
  font-family:  cursive;
  font-weight: 400;
  font-size: 83px;
  color: #fff;
}

hr {
  border: .1px solid rgb(0, 0, 0);
}

